/***

These CSS styles were created just for the Workshop.
This is not an example of a good CSS ruleset.
It does not follow best practices, just tries to keep the workshop code as simple as possible.
If you'd like to learn CSS, please use any of the wonderful web resources out there and not this.

***/

@font-face {
  font-family: trellicons;
  src: url('https://a.trellocdn.com/dist/fonts/trellicons.bf57a510b0c02a2e1611.eot');
  src: url('https://a.trellocdn.com/dist/fonts/trellicons.bf57a510b0c02a2e1611.eot#iefix') format('embedded-opentype'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.a6d87a53cce7f4d089dd.ttf') format('truetype'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.ee39204bdadeaa6edf0a.woff') format('woff'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.6f1a7f1b268d5117df93.svg#trellicons') format('svg');
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

body, #root {
  margin: 0;
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  overflow-y: auto;
  height: 100%;
  background: #fff;
}

body,
button,
html,
input,
select,
textarea {
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

a {
  background-color: transparent;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-container > header {
  height: 30px;
  position: relative;
  flex: none;
  background: #026aa7;
  overflow: hidden;
  padding: 5px 8px;
  z-index: 10;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.App-container > header > a {
  bottom: 0;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -75px;
  opacity: .5;
  position: absolute;
  top: 5px;
  width: 150px;
  text-align: center;
  -webkit-transition: .1s ease;
  transition: .1s ease;
  z-index: 2;
  color: #444;
  background-color: transparent;
}

.App-container > header > a:hover {
  opacity: .8;
}

.App-container > header > a > .logo {
  background-image: url('https://i.imgur.com/W4F3eTm.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 150px 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

main {
  flex-grow: 1;
  outline: none;
  position: relative;
  overflow-y: auto;
}

.Boards {
  margin: 0 auto;
  max-width: 1250px;
  padding: 20px 16px 0;
}

.Boards > header {
  margin: 0 0 0 38px;
  padding: 0 0 11px;
  position: relative;
}

.Boards > header > .icon {
  left: -38px;
  position: absolute;
  top: 0;
  color: #999;
  height: 32px;
  font-size: 20px;
  line-height: 30px;
  width: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.Boards > header > .icon:before {
  content: "\E938";
}

.Boards > header > h2 {
  display: inline-block;
  line-height: 24px;
  margin: 3px 0 0;
  font-size: 16px;
  font-weight: 700;
}

.Boards > ul {
  display: flex;
  flex-wrap: wrap;
}

.Boards > ul > li {
  position: relative;
  padding: 0 8px 8px 0;
  width: 25%;
  box-sizing: border-box;
}

.Boards > ul > li > a {
  display: block;
  border-radius: 3px;
  background-color: #0079bf;
  color: #fff;
  line-height: 20px;
  margin: 0 8px 8px 0;
  padding: 8px;
  position: relative;
  text-decoration: none;
  min-height: 64px;
}

.Boards > ul > li > a:hover {
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.20) 0%,
    rgba(0,0,0,0.15) 100%);
}

.Boards > ul > li > a.NewBoardLink {
  background-color: #e2e4e6;
  color: #838c91;
  display: block;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  min-height: 44px;
  padding-top: 28px;
}

.BoardTile > a {
  display: block;
  padding-right: 40px;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  overflow: hidden;
  max-height: 40px;
  margin-block-end: 0;
  margin-block-start: 0;
}

.Board {
  background-color: rgb(0, 121, 191);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  transition: margin .1s ease-in;
}

.Board > header {
  flex: none;
  height: auto;
  overflow: hidden;
  padding: 8px 4px 8px 8px;
  position: relative;
  transition: padding .1s ease-in;
}

.Board > header > h1 {
  border-radius: 3px;
  color: #f6f6f6;
  cursor: default;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0 12px 0 0;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
  text-decoration: none;
}

.Board > ul {
  position: relative;
  flex-grow: 1;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  padding-right: 56px;
}

.NewBoard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 20;
}


.NewBoard > form {
  position: fixed;
  left: 50%;
  margin-top: 24px;
  padding: 24px;
  border: none;
  border-radius: 2px;
  margin: 48px -170px 80px;
  background-color: transparent;
  width: auto;
  z-index: 25;
}

.NewBoard .tile {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 96px;
  margin: 0;
  padding: 10px 10px 10px 16px;
  position: relative;
  width: 296px;
  border-radius: 3px;
  color: #fff;
  line-height: 20px;
  text-decoration: none;
  background-color: rgb(0, 121, 191);
  z-index: 30;
}

.NewBoard .close-button {
  float: right;
  position: relative;
  right: -2px;
  top: -2px;
  z-index: 2;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  min-height: 0;
  text-align: left;
  cursor: pointer;
}

.NewBoard .close-button .icon {
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  width: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.NewBoard .close-button .icon:before {
  content: "\E916";
}

.NewBoard input {
  border-radius: 3px;
  position: relative;
  left: -8px;
  width: calc(100% - 18px - 16px);
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 0;
  outline: 0;
  padding: 2px 8px;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  display: block;
  -webkit-rtl-ordering: logical;
  cursor: text;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.NewBoard input:hover, .NewBoard input:focus {
  background: hsla(0,0%,100%,.15);
}

.NewBoard button {
  margin-bottom: 8px;
  background: #5aac44;
  -webkit-box-shadow: 0 1px 0 #519839;
  box-shadow: 0 1px 0 #519839;
  color: #fff;
  -webkit-transition: backgroun .3s ease;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 22px;
  margin: 8px 4px 0 0;
  padding: 5px 16px;
  text-align: center;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
}

.NewBoard button:hover {
  background: #519839 100%;
}

.NewBoard button.disabled {
  background: #f8f9f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #b6bbbf;
  cursor: default;
  font-weight: 700;
}

.NewBoard button.disabled:hover {
  background: #f8f9f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #b6bbbf;
  cursor: default;
  font-weight: 700;
}

.ListTile {
  width: 270px;
  margin: 0 5px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.ListTile:first-child {
  margin-left: 10px;
}

.ListTile-content {
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  padding: 0 4px 6px 4px;
}

.ListTile h2 {
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  min-height: 18px;
  font-weight: 700;
  font-size: 1em;
  margin-block-start: 0;
  margin-block-end: 0;
  overflow: hidden;
  word-wrap: break-word;
  height: 24px;
}

.ListTile ol {
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
}

.ListTile ol li {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  margin-bottom: 6px;
  max-width: 300px;
  min-height: 20px;
  text-decoration: none;
  padding: 6px 6px 6px 8px;
  clear: both;
  word-wrap: break-word;
  color: #4d4d4d;
}

.ListTile-content > div {
  border-radius: 0 0 3px 3px;
  color: #838c91;
  display: block;
  flex: 0 0 auto;
  padding: 8px 10px;
  margin: 0 4px;
  position: relative;
  text-decoration: none;
  user-select: none;
}

.ListTile-content > div:hover {
  background-color: #cdd2d4;
  color: #4d4d4d;
  text-decoration: underline;
}

.ListTile form {
  margin: 0 4px;
}

.ListTile form textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 6px 2px 8px;
  display: block;
  transition: background 85ms ease-in,border-color 85ms ease-in;
  width: 100%;
  margin-bottom: 6px;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 54px;
  outline: 0;
}

.ListTile form input {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  margin: 0 4px 8px 0;
  min-height: 32px;
  padding: 4px 16px;
  vertical-align: top;
  background: #5aac44;
  box-shadow: 0 1px 0 #519839;
  color: #fff;
  transition: background .3s ease;
}

.ListTile form input:hover {
  background: #519839 100%;
}

.ListTile form button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
}

.ListTile form button {
  display: inline-block;
  font-family: trellicons;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  width: 30px;
  color: #999;
}

.ListTile form button .icon:before {
  content: "\E916";
}
